* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff7f0;
  padding-inline: 10%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 2rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.navbar-text {
  background-color: #030303;
  color: #fff7f0;
  font-size: 1.8rem;
  padding-inline: 2.2rem;
  padding-block: 1rem;
  border-radius: 50px;
  text-decoration: none;
}

.navbar-text:hover {
  background-color: #755cde;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 10rem;
}

.heading {
  font-size: 5.6rem;
  line-height: 7rem;
  color: #030303;
}

.description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #7a746e;
  text-align: center;
}

.showcase {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  height: 30rem;
  width: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff7f0;
  font-size: 2rem;
  line-height: 4rem;
}

.graphic-design {
  grid-column: 1/3;
  grid-row: 1/3;
  background: url("./assets/pattern-graphic-design.svg") no-repeat top 2rem
      right 2rem,
    #755cde;
  border-radius: 12px;
  padding-top: 25rem;
  padding-left: 2rem;
  /* height: 100%;
  width: 100%; */
}

.ui-ux {
  background: url("./assets/pattern-ui-ux.svg") no-repeat top 2rem right 2rem,
    #f6a560;
  border-radius: 12px;
  padding-top: 9rem;
  padding-left: 2rem;
}

.apps {
  background: url("./assets/pattern-apps.svg") no-repeat top 2rem right 2rem,
    #f39e9e;
  border-radius: 12px;
  padding-top: 9rem;
  padding-left: 2rem;
}

.photography {
  grid-column: 5/7;
  background: url("./assets/pattern-photography.svg") no-repeat top 2rem right
      2rem,
    #61c4b7;
  border-radius: 12px;
  padding-top: 9rem;
  padding-left: 2rem;
}

.illustration {
  grid-column: 3/5;
  background: url("./assets/pattern-illustrations.svg") no-repeat top 2rem right
      2rem,
    #eb7565;
  border-radius: 12px;
  padding-top: 9rem;
  padding-left: 2rem;
}

.motion-graphics {
  grid-column: 5/7;
  background: url("./assets/pattern-motion-graphics.svg") no-repeat top 2rem
      right 2rem,
    #552049;
  border-radius: 12px;
  padding-top: 9rem;
  padding-left: 2rem;
}

.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin-block: 10rem;
}

.profile-img {
  height: 40%;
  width: 40%;
  border-radius: 50%;
}

.personal-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.personal-info-heading {
  font-size: 5.6rem;
  line-height: 7rem;
}

.personal-info-description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #7a746e;
}

.personal-info-link {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff7f0;
  text-decoration: none;
  background-color: #eb7665;
  padding-inline: 2.2rem;
  padding-block: 1rem;
  border-radius: 50px;
}

.personal-info-link:hover {
  background-color: #f6a560;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 5rem;
  background-color: #030303;
  padding-block: 8rem;
  padding-inline: 8rem;
  border-radius: 12px;
  column-gap: 30rem;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.cta-heading {
  font-size: 4rem;
  line-height: 5.1rem;
  color: #fff7f0;
}

.cta-description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff7f0;
}

.cta-link {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff7f0;
  text-decoration: none;
  background-color: #eb7665;
  padding-inline: 2.2rem;
  padding-block: 1rem;
  border-radius: 50px;
  text-align: center;
  white-space: nowrap;
}

.cta-link:hover {
  background-color: #f6a560;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.footer-link {
  background-color: #030303;
  color: #fff7f0;
  font-size: 1.8rem;
  padding-inline: 2.2rem;
  padding-block: 1rem;
  border-radius: 50px;
  text-decoration: none;
}

.footer-link:hover {
  background-color: #755cde;
}
