* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #141d2f;
  color: #fff;
}

.container {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3.8rem;
}

.switch-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.switch-mode:hover {
  cursor: pointer;
  color: #0079ff;
  font-weight: 700;
}

.switch-text {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #fff;
}

.search {
  color: #fff;
  display: flex;
  padding: 1rem 2rem;
  /* border: 2px solid red; */
  border-radius: 12px;
  background-color: #1e2a47;
}

.search-img {
  object-fit: contain;
}

.search-input {
  border: none;
  margin: 0;
  width: 100%;
  height: 4rem;
  padding: 2rem 2rem;
  font-size: 2rem;
  color: #fff;
  border: none;
  background-color: #1e2a47;
}

.search-input::placeholder {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}

.search-input:focus {
  outline: none;
}

.error-message {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  line-height: 2rem;
  white-space: nowrap;
  margin-right: 1rem;
  color: #ff0000;
  font-weight: 700;
  margin-block: 1rem;
  width: max-content;
}

.submit-btn {
  padding: 1rem 2rem;
  margin: 0;
  /* border: 1px solid transparent; */
  background-color: hsl(212, 100%, 50%);
  color: #fff;
  border: none;
  border-radius: inherit;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: hsl(212, 100%, 60%);
}

.info-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e2a47;
  border-radius: 12px;
  padding-inline: 5rem;
  padding-block: 2rem;
  column-gap: 5rem;
}

.info-text {
  width: 100%;
}

.info-card img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  align-self: flex-start;
}

.info-text-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text-name {
  font-family: "Space Mono", monospace;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #fff;
  font-weight: 600;
}

.info-text-joined {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
}

.info-text-username {
  text-align: left;
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #0079ff;
  font-weight: 400;
  margin-bottom: 1rem;
}

.info-text-bio {
  text-align: left;
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #697c9a;
  font-weight: 400;
  margin-block: 1rem;
}

.info-text-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: #141d2f;
  border-radius: 12px;
  padding: 1rem 1rem;
  text-align: center;
  margin-block: 1rem;
}

.info-text-stats-repo-text {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
}

.info-text-stats-repo-number {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}

.info-text-stats-followers-text {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
}

.info-text-stats-followers-number {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}

.info-text-stats-following-text {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
}

.info-text-stats-following-number {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}

.info-text-personal-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  justify-items: start;
  align-items: center;
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 400;
  margin-block: 1rem;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.location img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.twitter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.twitter img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.website {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.website a {
  text-decoration: none;
  color: #fff;
}

.website a:hover {
  text-decoration: underline;
}

.website img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}

.company {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.company img {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
}
