* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(227, 100%, 98%);
}

.container {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

.logo-text {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3.8rem;
}

.switch-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.switch-text {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #697c9a;
}

.search {
  padding: 1.2rem;
  width: 100%;
  margin: 1rem auto;
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
