/* STYLE GUIDE */

/************ COLORS **************/
/* 

- #24053e
- #44ffa1
- #584d62
- #fcf8ff
- #ffffff

*/

/************ FONTS **************/
/*

- Heading L: fraunces 144 Semi-bold 80px 80px line-spacing

- Heading M: fraunces 144 Semi-bold 56px 64px line-spacing

- Heading S: fraunces 144 Semi-bold 32px 40px line-spacing

- Body: Manrope Regular 18px 32px line-spacing

*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.8rem;
}

.container {
  /* width: 100%; */
  /* height: 100vh; */
  background: url("./assets/images/bg-pattern-1.svg"),
    url("./assets/images/bg-pattern-2.svg"), #24053e;
  background-repeat: no-repeat, no-repeat;
  background-position: center left -130px, center right -60px;
}

/* NAVBAR */
.navbar {
  margin-inline: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "manrope", serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 32px;
  border-bottom: #44ffa1 solid 4px;
}

.navbar a:hover {
  color: #44ffa1;
}

/* HEADER */

.header {
  margin-inline: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "fraunces", serif;
  color: #ffffff;
}

.header h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 80px;
}

.header h1 span {
  border-bottom: #44ffa1 solid 5px;
}

.header a {
  text-decoration: none;
  background-color: #44ffa1;
  padding: 1.5rem 3rem;
  margin-block: 3rem;
  font-family: "manrope", serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 32px;
  border: 2px solid transparent;
}

.header a:hover {
  border: #44ffa1 solid 2px;
  color: #44ffa1;
  background-color: #24053e;
}

.header img {
  max-width: 50%;
}

/* MAIN */

/* SECTION CONTENT */
.content {
  margin-inline: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 5rem;
  padding-block: 10rem;
}

.content-number {
  color: #000;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  border-radius: 50%;
  border: #584d62 solid 1px;

  font-family: "fraunces", serif;
}

.content h3 {
  font-family: "fraunces", serif;
  font-size: 3.2rem;
  line-height: 40px;
}

.content p {
  font-family: "manrope", serif;
  font-size: 1.8rem;
  line-height: 32px;
}

/* SECTION FOUNDER */

.founder {
  position: relative;
  height: 400px;
  margin-block: 10rem;
}

.founder img {
  position: absolute;
  left: 20%;
  top: 0;
  max-width: 20%;
}

.founder div {
  position: absolute;
  top: 20%;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  background: url("./assets/images/bg-pattern-3.svg") no-repeat bottom -60px right
      40px,
    #24053e;
  color: #fff;
  padding: 4.2rem;
}

.founder div h2 {
  font-family: "fraunces", serif;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 400;
}

.founder-text p {
  font-family: "manrope", serif;
  font-size: 1.8rem;
  line-height: 32px;
}

.founder-text a {
  text-decoration: none;
  color: #24053e;
  font-family: "manrope", serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 32px;
  padding: 1.2rem;
  background-color: #44ffa1;
  border: 2px solid transparent;
}

.founder a:hover {
  border: #44ffa1 solid 2px;
  color: #44ffa1;
  background-color: #24053e;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-icons img {
  cursor: pointer;
}
